<!--APP.COMPONENT. AQUÍ ES DONDE NOS DIRIGIMOS DESDE EL INDEX.HTML PRINCIPAL. COMO SIEMPRE VAMOS A QUERER MOSTRAR
EL HEADER Y EL FOOTER, LOS INSERTAMOS CON LOS SELECTORES DE COMPONENTE. EL ROUTER OUTLET NOS PERMITIRÁ MOSTRAR UN
COMPONENTE U OTRO DEPENDIENDO DE LA RUTA EN LA QUE ESTEMOS COMO HEMOS INDICADO EN EL APP.MODULE.TS-->

<app-header></app-header>
<!--ESTE TAG NOS PERMITE MOSTRAR UN COMPONENTE U OTRO DEPENDIENDO DE LA RUTA EN LA QUE ESTEMOS-->
<router-outlet></router-outlet>
<app-footer></app-footer>
